<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UpdateControls" version="2.1.3.0" />
  <package id="Correspondence" version="1.1.1.0" />
  <package id="Silverlight.UnitTest" version="4.0.40413.2011" />
  <package id="Correspondence.Silverlight.UnitTest" version="1.1.1.0" />
</packages>